MONGODB_URI=
MONGODB_DB=SmartRecipeGenerator
MONGODB_RECIPES_COLLECTION=Recipes
MONGODB_USERS_COLLECTION=Users
MONGODB_RECIPE_SUBMISSIONS_COLLECTION=RecipeSubmissions
MONGODB_RECIPE_RATINGS_COLLECTION=RecipeRatings

# Cloudinary
CLOUDINARY_CLOUD_NAME=djsenbil3
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Optional auth/session settings for later use
SESSION_SECRET=
JWT_SECRET=